.form-container {
  width: 500px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding-left: 40px;
}

.form-title {
  font-size: 35px;
  letter-spacing: 0.0015em;
  color: #2a414f;
  margin-bottom: 10px;
  text-align: center;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  color: #2a414f;
}

.form-control input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.5em;
  padding-left: 10px;
}

.btn-submit {
  width: 415px;
  height: 55px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  color: #0e1614;
  font-size: 21px;
  margin-top: 40px;
}

.btn-submit:hover {
  background: rgba(255, 153, 0, 0.6);
}
